body {
	background-color: #002a3f;
	padding: 0;
	margin: 0;
}

.container {
	top: 50%;
	left:  50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.imageContainer {
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.buttonStyle {
	font-family: monospace;
	font-size: 16px;
	background: white;
	border-radius: 50px;
	box-shadow: 5px 5px black;
	width: 350px;
	outline: none;
}

img {
	max-height:	250px;
	max-width:	350px;
}

.result {
	text-align: center;
	font-family: monospace;
	font-size: 50px;
	background: white;
	border-radius: 50px;
	box-shadow: 5px 5px black;
	width: 350px;
	outline: none;
}

.titleContainer {
	top: 5%;
	left:  50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.appTitle {
	font-size: 250%;
	font-family: monospace;
	font-weight: bold;
	color: whitesmoke;
}

#content {
	display: flex;
}