{% extends 'base.html' %}

{% block head %}
	<title>Fruits and Vegetables</title>
{% endblock %}

{% block body %}
	<form id="subForm" action='/predict' method="post" enctype="multipart/form-data">
		<input type="file" name="file" accept=".bmp, .jpg, .png, .gif" onchange="previewImage(event)">
		<br><br>
		<input type="submit" value="Detect!", onclick="this.disabled=true;this.form.submit();">
	</form> 
	<div>
		<img style="height:100px;width:100px;display:none" id="image"/>
	</div>

	<script type="text/javascript">
		var previewImage = function(event) {

			var preview = document.getElementById('image');

			preview.src = URL.createObjectURL(event.target.files[0]);

			preview.style.display = "block";
		};
	</script>
{% endblock %}