{% extends 'base.html' %}

{% block head %}
	<title>Fruits and Vegetables</title>
{% endblock %}

{% block body %}
	<div class="container">
		<form id="subForm" action='/' method="post" enctype="multipart/form-data">
			<input class="buttonStyle" type="file" name="file" accept=".bmp, .jpg, .png, .gif" onchange="previewImage(event)">
			<input class="buttonStyle" type="submit" value="Detect!", onclick="this.disabled=true;this.form.submit();">
		</form> 
	</div>
	<div class="imageContainer">
		<img id="image"/>
	</div>

	<script type="text/javascript">
		var previewImage = function(event) {

			var preview = document.getElementById('image');

			preview.src = URL.createObjectURL(event.target.files[0]);

			preview.style.display = "block";
		};
	</script>
{% endblock %}