{% extends 'base.html' %}

{% block head %}
	<title>Fruits and Vegetables</title>
{% endblock %}

{% block body %}
	<div id="content">
		<div class="titleContainer">
			<h1 class="appTitle">Fruit and Vegetable Detection</h1>
		</div>
		<div class="container">
			<form id="subForm" action='/' method="post" enctype="multipart/form-data">
				<input class="buttonStyle" type="file" name="file" accept=".bmp, .jpg, .png, .gif" onchange="previewImage(event)">
				<input class="buttonStyle" type="submit" value="Detect!", onclick="this.disabled=true;this.form.submit();">
			</form> 
		</div>
		<div class="imageContainer">
			<img id="image"/>
		</div>
	</div>


	<script type="text/javascript">
		function previewImage(event) {
			var reader = new FileReader();
			reader.onload = function() {
				var output = document.getElementById('image');
				output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>
{% endblock %}